body {
	color: #ccc;
	background: black url('') center center no-repeat;
}

#digilogo {
	position: fixed;
	width: 283px;
	height: 286px;
	left: 40px;
	top: 120px;
	background: transparent url('') top left no-repeat;
	border: 0px solid red;
}

#next_show {
	position: fixed;
	width: 283px;
	height: 286px;
	left: 40px;
	top: 426px;
	color: #7eaa1b;
	text-align: center;
}

#container {
	border: 0px solid red;
	padding: 0;
	margin: 0;
	text-align: center;
	width: expression(document.body.offsetWidth - 363 + "px");
	left: 353px;
	top: 92px;
	position: absolute;
}

#loadingData {
	width: 100%;
	height: 35px; /*25*/
	background: transparent url('') top center no-repeat;
	margin-top: 160px;
}

#message {
	width: expression(document.body.offsetWidth - 80 + "px");
	margin-top: 160px;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

.TVB_scroller_row{
		background-color: #0b1000;
}

#fullScreen_bar_container{
		/*margin-top:10px;*/
	}

.TVB_scroller_barrer{
		border-top:1px solid #5c7300;
		border-bottom:1px solid #5c7300;
	}

.tweet {
	
	font-size: 18px;
	padding: 0;
	
	text-align: left;
	/*height: 72px;*/
	overflow:hidden;
	height:75px;
	display: block;
	
	/*background-color: #1c2902; NEW */
	/*background-color: #111a00; */
	/*background-color: #0b1000;*/
}

.tweet img {
	width: 48px;
	height: 48px;
	border: 0;
	padding: 3px;
	margin: 0 10px 0 0;
	
}

.tweet .from {
	color: #7eaa1b;
	
}

.tweet .pubdate {
	color: #ab6f10;
	
}

.tweet .text{
	
}

.tweet table tr td {
	vertical-align: top;
	border: 0px solid red;
	margin: 0;
	padding: 5px;
}



#fs_msg_container{
	z-index:100000;
	position:fixed;
	/*top:348px;*/
	/*bottom:470px;*/
	left:0px;
	/*width:595px;*/
	/*height:68px;*/
	background-color:#0b1000;
	font-size: 18px;
	padding:2px 0px;
	float:left;
	}
	
#openMessageDiv{
	z-index:100000;
	position:fixed;
	top:428px;
	right:0px;
	width:65px;
	height:68px;
	background-color:#0b1000;
	font-size: 18px;
	padding:2px 10px;
	color:white;
	float:left;
	text-align:center;
	}

.footer_message{
	width:100%;
	height:68px;
	padding-left:5px;
	font-size: 18px;
	float:left;
	}


.footer_message img {
	width: 48px;
	height: 48px;
	border: 0;
	padding: 3px;
	margin: 0 10px 0 0;
	float: left;
}

.footer_message .from {
	color: #7eaa1b;
	
}

.pubdate {
	font-size: 18px;
	color: #ab6f10;
	margin-left:10px;
}
