* {
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}

body {
	background-color: black;
	color: #ccc;
	font-size: 16px;
}

.success {
	color: green;
}

.fail {
	color: red;
}

.message {
	
}
